{% extends 'admin/_main.twig' %}

{%  block adminContent %}
    {% if _POST.verify == 'Ok' %}
        <div class="alert_confirm">
            <div class="alert_confirm_text">
                <strong>Redirecting:</strong>
            </div>
            <div style="padding:4px;">
                deleting bad word... Done!
            </div>
        </div>
        <meta http-equiv="refresh" content="1;URL=admin_badwords.php">
    {% elseif _POST.verify == 'Cancel' %}
        <meta http-equiv="refresh" content="1;URL=admin_badwords.php">
    {% else %}
        <form action="admin_badwords.php?action=delete&word={{ _GET.word }}" method="post">
            <div class="alert">
                <div class="alert_text">
                    <strong>Are you sure you want to remove the word "<b>{{ _GET.word }}</b>" from the filter list?</strong>
                </div>
                <div style="padding:4px;">
                    <input type="submit" name="verify" value="Ok" />
                    <input type="submit" name="verify" value="Cancel" />
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}